{% extends "mobile/base.html" %}
{% load staticfiles %}

{% block content %}
	<h1>Контакты</h1>
	<div class="contact-main">
        <div class="contact-line">
			<div class="contact-img">
				<img src="{% static 'main/images/mobile/contact/location.png' %}">
			</div>
			<div class="contact-info">
				г. Томск, ул. {{ main_branch.address }}
			</div>
        </div>
		<div class="contact-line">
			<div class="contact-img mail">
				<img src="{% static 'main/images/mobile/contact/mail.png' %}">
			</div>
			<div class="contact-info">
				iquest.tsk@gmail.com
			</div>
        </div>
		<div class="contact-line">
			<div class="contact-img">
				<img src="{% static 'main/images/mobile/contact/phone.png' %}">
			</div>
			<div class="contact-info">
				{{ main_branch.phone }}
			</div>
        </div>
    </div>

	<h1>Филиалы</h1>

	<div class="branches">
		{% for branch in branches %}
			<div class="contact-main">
				<div class="contact-line">
					<div class="contact-img">
						<img src="{% static 'main/images/mobile/contact/location.png' %}">
					</div>
					<div class="contact-info">
						г. Томск, ул. {{ branch.address }}
					</div>
				</div>

				<div class="contact-line">
					<div class="contact-img">
						<img src="{% static 'main/images/mobile/contact/phone.png' %}">
					</div>
					<div class="contact-info">
						{{ branch.phone }}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
    <div id="jmap" class="map">

    </div>
{#	        <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=tW30mFQ4zJvOEP_uvt8lC4IAQAPeFlla&width=1000&height=583"></script>#}
	<script>
		var width = screen.width - 40;
		var url = "//api-maps.yandex.ru/services/constructor/1.0/js/?sid=FrVE4LXJMahJsUta3cVCTUgdl7BpfUu2&height=220&width=" + width;
		var oHead = document.getElementById('jmap');
		var oScript = document.createElement("script");
		oScript.type = "text/javascript";
		oScript.src= url;
		oHead.appendChild( oScript);
	</script>
{% endblock %}