{% extends "mobile/base.html" %}
{% load staticfiles %}

{% block content %}
	<h1>Франшиза</h1>
	<div>
		Компания «IQuest» предлагает открытие квеструмов по франшизе.
		<br>
		<br>
		Наша компания является лидирующей на рынке реалити-квестов города Томска.
		<br>
		<br>
		Мы открыты для сотрудничества и готовы предоставить вам всю необходимую помощь и поддержку от самого начала и до запуска вашего проекта.
		<br>
		<br>
		Для того, чтобы с нами связаться – просто вышлите письмо с краткой информацией о себе, своих планах и городе (стране) в котором вы собираетесь создавать свои замечательные квесты.
		<br>
		<br>
		<span class="red-font">e-mail:</span> <a href="mailto:iquest.tsk@gmail.com">iquest.tsk@gmail.com</a>
	</div>
{% endblock %}