{% extends "mobile/base.html" %}
{% load staticfiles %}

{% block content %}
	<div class="logo"><img src="{% static 'main/images/mobile/logo.png' %}"></div>
	<h1>Квесты в реальности</h1>
	<div class="description">
	IQuest – это интеллектуальная игра. Вы попадаете в закрытое помещение, где вам предстоит разгадывать головоломки, находить секреты и подсказки в самых непредсказуемых местах, использовать ключевые предметы и самое главное включать свой ум и смекалку.
	</div>
	<div class="button-wrapper">
		<a class="button" href="#">ПЕРЕЙТИ К БРОНИРОВАНИЮ</a>
	</div>
{% endblock %}