{% extends "mobile/base.html" %}
{% load staticfiles %}
{% block content %}
	<h1>Описание Квеструм</h1>
	<div class="quests-content">
		<div class="quest">
			<div class="quest-name">«Случайный пациент»</div>
			<div class="quest-img">
				<img src="{% static 'main/images/quests/rand/preview_main.png' %}">
			</div>
			<div class="quest-description">Ваш друг решил принять участие в безобидном медицинском исследовании, чтобы немного подзаработать, после чего бесследно пропал.</div>
			<div class="quest-rules">Кол-во игроков: <span>до 4-х</span></div>
			<div class="quest-rules">Время на прохождение: <span>60 мин.</span></div>
			<div class="quest-button">
	        	<a href="#select-quest" id="submit-card-form" class="button">ПЕРЕЙТИ К БРОНИРОВАНИЮ</a>
	    	</div>
		</div>

		<div class="quest">
			<div class="quest-name">«Время Z»</div>
			<div class="quest-img">
				<img src="{% static 'main/images/quests/q2-new.png' %}">
			</div>
			<div class="quest-description">Неизвестный вирус превратил жителей города в зомби. Спасательная операция завершится через час, после чего авиация сровняет это место с лицом земли.</div>
			<div class="quest-rules">Кол-во игроков: <span>до 4-х</span></div>
			<div class="quest-rules">Время на прохождение: <span>60 мин.</span></div>
			<div class="quest-button">
	        	<a href="#select-quest" id="submit-card-form" class="button">ПЕРЕЙТИ К БРОНИРОВАНИЮ</a>
	    	</div>
		</div>

		<div class="quest">
			<div class="quest-name">«Враг народа»</div>
			<div class="quest-img">
				<img src="{% static 'main/images/quests/enemy/main_preview.png' %}">
			</div>
			<div class="quest-description">Лживый донос превратилcя для вас в обвинение в государственной измене. Оказавшись в следственном изоляторе, вы узнаете, что вам уже вынесен смертельный приговор, исполнение которого назначено ровно через час. Охранник дежуривший за дверью вашей камеры срочно уехал по звонку начальства. Теперь у вас есть выбор, попытаться бежать или стать очередными жертвами режима.</div>
			<div class="quest-rules">Кол-во игроков: <span>до 4-х</span></div>
			<div class="quest-rules">Время на прохождение: <span>60 мин.</span></div>
			<div class="quest-button">
	        	<a href="#select-quest" id="submit-card-form" class="button">ПЕРЕЙТИ К БРОНИРОВАНИЮ</a>
	    	</div>
		</div>
	</div>
	<div class="select-quest-wrapper">
		{% include "blocks/order/select-quests.html" %}
	</div>

	{% include "blocks/order/datepicker.html" %}
	<div name="order" class="">
		<div id="datepicker"></div>
	</div>
	<div class="time-cost">
		<div class="time-cost-title"><span class="red-font">Время</span> - цена</div>
		<div class="col1"></div>
		<div class="col2"></div>
	</div>

	{% include "blocks/order/confirm.html" %}

	<div class="fields">
		<form id="quest-order-form" method="POST">
			{% csrf_token %}
			<input type=hidden name="quest" value="1" />
			<input type=hidden name="date" />
			<input type=hidden name="time" />
			<input type=hidden name="cost" />
			<div class="row">
				<div class="input">
					<img src="{% static 'main/images/input/input_name.png' %}"><input placeholder="Имя" name="name" />
				</div>
			</div>
			<div class="row">
				<div class="input">
					<img src="{% static 'main/images/input/input_phone.png' %}"><input placeholder="Телефон" name="phone"/>
				</div>
			</div>
			<div class="row">
				<a href="#" id="book" class="button">Сделать заказ</a>
			</div>
		</form>
	</div>
	<div class="pre-order-notification">При бронировании игры, уточните, что используете подарочную карту  в качестве оплаты. </div>

	<div class="full-version">
		<a href="#">Перейти к полной версии сайта &gt;&gt;</a>
	</div>
{% endblock %}

{% block full-url %}{% endblock %}

{% block scripts %}
	<script>
	$(document).ready(function(){
		Order.init(
			{{ orderJson|safe }},
			{{ schedule|safe }},
			true
		);
	});
	</script>
{% endblock %}