{% extends "mobile/base.html" %}
{% load staticfiles %}
{% load set_var %}
{% block content %}
	<h1>Описание Квеструм</h1>
	<div class="quests-content">
		{% for quest in quests %}
			<div class="quest">
				<div class="quest-name">{{ quest.quest }}</div>
				<div class="quest-img">
					<img src="{{ quest.image.url }}">
				</div>
				<div class="quest-description">{{ quest.description }}</div>
				<div class="quest-rules">Кол-во игроков: <span>до 4-х</span></div>
				<div class="quest-rules">Время на прохождение: <span>60 мин.</span></div>
				<div class="quest-button">
					<a href="#select-quest" id="submit-card-form" class="button">ПЕРЕЙТИ К БРОНИРОВАНИЮ</a>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="select-quest-wrapper">
		<div class="order-title">Выберите квест, дату и время посещения квеста</div>
		<a name="select-quest"></a>
		<div class="select-quest">
			{% for quest in quests %}
				{% set current = '' %}
				{% if forloop.first %}
					{% set current = 'current' %}
				{% endif %}
				<div class="order-quest {{ current }}" data-id="{{ quest.id }}">{{ quest.quest }}</div>
			{% endfor %}
		</div>
	</div>

	{% include "blocks/order/datepicker.html" %}
	<div name="order" class="">
		<div id="datepicker"></div>
	</div>
	<div class="time-cost">
		<div class="time-cost-title"><span class="red-font">Время</span> - цена</div>
		<div class="col1"></div>
		<div class="col2"></div>
	</div>

	{% include "blocks/order/confirm.html" %}

	<div class="fields">
		<form id="quest-order-form" method="POST">
			{% csrf_token %}
			{{  form.quest }}
			{{  form.date }}
			{{  form.time }}
			{{  form.cost }}
			<div class="row">
				<div class="input">
					<img src="{% static 'main/images/input/input_name.png' %}">
					{{  form.name }}
				</div>
			</div>
			<div class="row">
				<div class="input">
					<img src="{% static 'main/images/input/input_phone.png' %}">
					{{  form.phone }}
				</div>
			</div>
			<div class="row">
				<a href="#" id="book" class="button">Сделать заказ</a>
			</div>
		</form>
	</div>
	<div class="pre-order-notification">При бронировании игры, уточните, что используете подарочную карту  в качестве оплаты. </div>

	<div class="full-version">
		<a href="#">Перейти к полной версии сайта &gt;&gt;</a>
	</div>
{% endblock %}

{% block full-url %}{% endblock %}

{% block scripts %}
	<script>
	$(document).ready(function(){
		Order.init(
			{{ orderJson|safe }},
			{{ schedule|safe }},
			true
		);
	});
	</script>
{% endblock %}