<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<body>
{% load staticfiles %}
<table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0;" width="100%">
    <tr>
        <td>
            <center style="max-width: 600px; width: 100%;">
                <table border="0" cellpadding="0" cellspacing="0" style="margin:0; padding:0" width="100%">
                    <tr>
                        <td colspan="2">
                            <span style="color: #ffffff; background-color: #ca624b; font: 24px Arial, sans-serif; line-height: 30px; -webkit-text-size-adjust:none; display: block; padding: 10px;">
                                <b>{{ title }}</b>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td  style="width:80px; vertical-align: top; padding-top: 10px;"><img src="http://iq.tomsk.ru{% static 'main/images/logo.png' %}" width="130" height="130" alt="logo"></td>
                        <td colspan="1" style="padding-top: 10px; padding-bottom: 20px; vertical-align: top;">
                            <span style="color: #333333; font: 14px Arial, sans-serif; line-height: 20px; -webkit-text-size-adjust:none; display: block;background-color:white;">
                            {{ text }}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center">
                            <a href="http://iq.tomsk.ru" style="text-decoration: none; background-color: #ca624b; padding: 5px; color: #ffffff; font: 12px Arial, sans-serif; line-height: 20px; -webkit-text-size-adjust:none; display: inline;">
                                Перейти на сайт
                            </a>
                        </td>
                    </tr>
                </table>
            </center>
        </td>
    </tr>
</table>
</body>
</html>