<!DOCTYPE html>
<html>
<head>
    <title>IQuest - Квест в реальности (реалити квест в Томске)</title>
    <meta name="keywords" content="{{ keywords }}">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/jquery-ui.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/jquery-ui.structure.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/magnific-popup.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}?2" />
    <script src="{% static 'main/js/jquery.js' %}" ></script>
    <script src="{% static 'main/js/jquery.form.js' %}" ></script>
    <script src="{% static 'main/js/jquery-ui.js' %}" ></script>
    <script src="{% static 'main/js/datepicker-ru.js' %}" ></script>
    <script src="{% static 'main/js/jquery.magnific-popup.min.js' %}" ></script>
    <script src="{% static 'main/js/main.js' %}" ></script>
    <script src="{% static 'main/js/order.js' %}" ></script>
    <script src="{% static 'main/js/present.js' %}" ></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57773615-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
<div class="wrapper">
    <div class="header">
        <div class="header-img"></div>
        <div class="header-info">
            <div class="brain"><a href="{% url 'main:index' %}"><img src="{% static 'main/images/logo.png' %}"></a></div>
            <div class="title">Квесты в реальности</div>
            <div class="contacts">
                <div class="social">
                    <a target="_blank" href="http://vk.com/iquest"><img class="vk" src="{% static 'main/images/vk.png' %}"></a>
                    <a target="_blank" href="http://facebook.com/iqtomsk"><img class="fb" src="{% static 'main/images/fb.png' %}"></a>
                    <a target="_blank" href="http://instagram.com/i_quest"><img class="insta" src="{% static 'main/images/insta.png' %}"></a>
                </div>
                <div class="phone"><img src="{% static 'main/images/phone.png' %}"> 94 - 29 - 10</div>
            </div>
        </div>
        <div class="header-menu">
            <div class="rules">
                <a href="{% url 'main:rules' %}">
                    <div class="circle rules-img"></div>
                    <div class="text">Правила игры</div>
                </a>
            </div>
            <div class="quests">
                <a href="{% url 'main:quests' %}">
                    <div class="circle quests-img"></div>
                    <div class="text">Квесты</div>
                </a>
            </div>
            <div class="cards">
                <a href="{% url 'main:cards' %}">
                    <div class="circle cards-img"></div>
                    <div class="text">Подарок</div>
                </a>
            </div>
            <div class="franchise">
                <a href="{% url 'main:franchise' %}">
                    <div class="circle franchise-img"></div>
                    <div class="text">Франшиза</div>
                </a>
            </div>
            <div class="contacts">
                <a href="{% url 'main:contact' %}">
                    <div class="circle contacts-img"></div>
                    <div class="text">Контакты</div>
                </a>
            </div>
        </div>
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <div class="footer">
        <div class="footer-container">
            <div class="brain"></div>
            <div class="info">
                <div class="menu">
                    <div class="item"><a href="{% url 'main:index' %}">IQUEST</a></div>
                    <div class="item"><a href="{% url 'main:rules' %}">ПРАВИЛА ИГРЫ</a></div>
                    <div class="item"><a href="{% url 'main:quests' %}">КВЕСТЫ</a></div>
                    <div class="item"><a href="{% url 'main:cards' %}">ПОДАРОЧНЫЕ КАРТЫ</a></div>
                    <div class="item"><a href="{% url 'main:contact' %}">КОНТАКТЫ</a></div>
                </div>
                <div class="last-info">
{#                    <div class="copyright">© 2014 «IQuest» created by <a href="mailto:stepan.franchuk@yandex.ru">Stepan Franchuk</a><br/></div>#}
                    <!-- плач если видишь это :( -->
                    <div class="keywords">{{ keywords }}</div>
                    <div class="social">
                        <a target="_blank" href="http://vk.com/iquest"><div class="vk"></div></a>
                        <a target="_blank" href="https://www.facebook.com/iqtomsk"><div class="fb"></div></a>
                        <a target="_blank" href="http://instagram.com/i_quest"><div class="insta"></div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block scripts %}{% endblock %}
</body>
</html>