{% extends "main/base.html" %}
{% load staticfiles %}
{% block content %}
    <h1>IQuest</h1>
    <div class="i-description">IQuest - это интеллектуальная игра. Вы попадаете в закрытое помещение, где вам предстоит разгадывать головоломки, находить секреты и подсказки в самых непредсказуемых местах, использовать ключевые предметы и самое главное включать свой ум и смекалку. Все это понадобится вам для того, чтобы найти выход, а может быть и разгадать тайну этого места.</div>
    <div class="quests">
        <a href="https://vk.com/iquest" target="_blank">
        <div class="quest left">
            <div class="quest-title">Случайный пациент</div>
            <div class="quest-img">
                <img src="{% static 'main/images/pic_sample.jpg' %}" alt=""/>
                <div class="img-select"><div class="message">Узнать подробнее про квест</div></div>
            </div>
            <div class="quest-info">
                <div class="quest-info-peoples">
                    <div class="peoples">2-4 чел</div>
                    <div class="img-peoples"><img src="{% static 'main/images/white_people_icon.png' %}" alt="" /></div>
                </div>
                <div class="quest-info-time">
                    <div class="time">60 мин</div>
                    <div class="img-time"><img src="{% static 'main/images/white_clock.png' %}" alt="" /></div>
                </div>
            </div>
        </div>
        </a>

        <a href="https://vk.com/iquest" target="_blank">
        <div class="quest right">
            <div class="quest-title">Время Z</div>
            <div class="quest-img">
                <img src="{% static 'main/images/pic_sample.jpg' %}" alt=""/>
                <div class="img-select"><div class="message">Узнать подробнее про квест</div></div>
            </div>
            <div class="quest-info">
                <div class="quest-info-peoples">
                    <div class="peoples">2-4 чел</div>
                    <div class="img-peoples"><img src="{% static 'main/images/white_people_icon.png' %}" alt="" /></div>
                </div>
                <div class="quest-info-time">
                    <div class="time">60 мин</div>
                    <div class="img-time"><img src="{% static 'main/images/white_clock.png' %}" alt="" /></div>
                </div>
            </div>
        </div>
        </a>
    </div>
    <div class="quests">
        <div class="quest center">
            <a href="https://vk.com/iquest" target="_blank">
            <div class="quest-title">Новый квест скоро...</div>
            <div class="quest-img">
                <img src="{% static 'main/images/pic_sample.jpg' %}" alt=""/>
                <div class="img-select"><div class="message">Узнать подробнее</div></div>
            </div>
            <div class="quest-info">
                <div class="quest-info-peoples">
                    <div class="peoples">2-4 чел</div>
                    <div class="img-peoples"><img src="{% static 'main/images/white_people_icon.png' %}" alt="" /></div>
                </div>
                <div class="quest-info-time">
                    <div class="time">60 мин</div>
                    <div class="img-time"><img src="{% static 'main/images/white_clock.png' %}" alt="" /></div>
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="go-to-order">
        <a href="{% url 'main:quests' %}#order" class="button">Перейти к бронированию</a>
    </div>
{% endblock %}