{% extends "main/base.html" %}
{% load staticfiles %}
{% load set_var %}
{% block content %}
	<div class="quests">
	{% for quest in quests %}
		{% set soon = False %}
		{% if not quest.is_active %}
			{% set soon = "soon" %}
		{% endif %}
		{% if forloop.counter|divisibleby:"2" %}
			{% include "blocks/index/quest.html" with soon=soon quest=quest position_class="right" %}
		{% elif forloop.last %}
			{% include "blocks/index/quest.html" with soon=soon quest=quest position_class="center" %}
		{% else %}
			{% include "blocks/index/quest.html" with soon=soon quest=quest position_class="left" %}
		{% endif %}
		{% if forloop.counter|divisibleby:"2" and not forloop.last %}
			</div>
			<div class="quests">
		{% endif %}
	{% endfor %}
	</div>
    <div class="go-to-order">
        <a href="{% url 'main:quests' %}#select-quest" class="button">Перейти к бронированию</a>
    </div>

	<h1>Реалити-квест Томск</h1>
    <div class="i-description">IQuest - это интеллектуальная игра. Вы попадаете в закрытое помещение - квеструм, где вам предстоит разгадывать головоломки, находить секреты и подсказки в самых непредсказуемых местах, использовать ключевые предметы и самое главное включать свой ум и смекалку. Все это понадобится вам для того, чтобы найти выход, а может быть и разгадать тайну этого места.</div>
{% endblock %}