{% extends "main/base.html" %}
{% load staticfiles %}
{% block content %}
    <script>
        {{ raw }}
        var orders = {{ orderJson|safe }};
        var schedule = {{ schedule|safe }};
    </script>
    <h1>Описание Квеструм</h1>
	<div class="anchor-to-order">
		<a class="button small" href="#select-quest">Забронировать</a>
	</div>
	<div class="quests-description">
        <div class="quest-description odd">
            <div class="gallery">
                <div class="main-image">
                    <a href="{% static 'main/images/quests/rand/main.jpg' %}">
                        <img src="{% static 'main/images/quests/rand/preview_main.png' %}">
                    </a>
                </div>
                <div class="previews">
                    <div class="popup-gallery">
                        <a href="{% static 'main/images/quests/rand/1.jpg' %}">
                            <img src="{% static 'main/images/quests/rand/preview_1.png' %}">
                        </a>
                        <a class="center" href="{% static 'main/images/quests/rand/2.jpg' %}">
                            <img src="{% static 'main/images/quests/rand/preview_2.png' %}">
                        </a>
                        <a href="{% static 'main/images/quests/rand/3.jpg' %}">
                            <img src="{% static 'main/images/quests/rand/preview_3.png' %}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="description">
                <div class="title red-font">Случайный пациент</div>
                <div class="main-description grey-font">Ваш друг решил принять участие в безобидном медицинском исследовании, чтобы немного подзаработать, после чего бесследно пропал. Звонки по больницам и клиникам не принесли результата, и вы решили отправиться на настоящие поиски. Добравшись до неприметной больницы, на окраине города, вы встретили санитара, который рассказал вам, что ваш друг находится в закрытом крыле больницы и его держат для проведения ужасного эксперимента. У вас есть всего один час, чтобы спасти своего друга и скрыться, чтобы самим не стать жертвами таинственного доктора.</div>
                <div class="quest-info">
                    <div class="quest-info-peoples">
                        <div class="peoples">до 4х человек</div>
                        <div class="img-peoples">
                            <img src="{% static 'main/images/quests/doc.png' %}" alt="" />
                            <img src="{% static 'main/images/quests/doc.png' %}" alt="" />
                            <img src="{% static 'main/images/quests/doc.png' %}" alt="" />
                            <img src="{% static 'main/images/quests/doc.png' %}" alt="" />
                        </div>
                    </div>
                    <div class="quest-info-time">
                        <div class="time">60 мин</div>
                        <div class="img-time"><img src="{% static 'main/images/quests/clock.png' %}" alt="" /></div>
                    </div>
                </div>
            </div>
        </div>
{#        <div class="quest-description even">#}
{#            <div class="gallery"></div>#}
{#            <div class="description">#}
{#                <div class="title red-font">Время «Z»</div>#}
{#                <div class="main-description grey-font">Неизвестный вирус превратил жителей города в зомби. Спасательная операция завершится через час, после чего авиация сровняет это место с лицом земли. Вы оказываетесь в группе выживших, которые следуют в зону эвакуации. Ваш путь к спасению отрезан полчищами живых мертвецов от которых пришлось укрыться в ближайшем доме. Сумеете ли вы выбраться из этой западни?</div>#}
{#            </div>#}
{#        </div>#}
    </div>
	<a name="select-quest"></a>
    <div class="select-quest">
        <div class="order-quest current" data-id="1">Случайный пациент</div>
{#        <div class="order-quest" data-id="2">Время «Z»</div>#}
    </div>
    <div name="order" class="">
        <div id="datepicker"></div>
    </div>
    <div class="confirm">
        Вы бронируете квест  <span class="quest-name red-font">Случайный пациент</span> <span class="hidden">на дату <span class="date red-font">27 ноября 2014</span></span><span class="hidden"> на время <span class="time red-font">18:00</span></span>.
    </div>
    <div class="fields">
        <form id="quest-order-form" method="POST">
            {% csrf_token %}
            <input type=hidden name="quest" value="1" />
            <input type=hidden name="date" />
            <input type=hidden name="time" />
            <input type=hidden name="cost" />
            <div class="row">
                <div class="input">
                    <img src="{% static 'main/images/input/input_name.png' %}"><input placeholder="Имя" name="name" />
                </div>
                <div class="input">
                    <img src="{% static 'main/images/input/input_phone.png' %}"><input placeholder="Телефон" name="phone"/>
                </div>
            </div>
            <div class="row">
                <div class="input">
                    <img src="{% static 'main/images/input/mail_badge.png' %}"><input placeholder="E-mail" name="email"/>
                </div>
            </div>
            <div class="row">
                <a href="#" id="book" class="button">ЗАБРОНИРОВАТЬ</a>
            </div>
        </form>
    </div>

    <div class="order-time-menu">
        <div class="time-money">
            <div class="row">
                <div><img class="clock" src="{% static 'main/images/quests/clock.png' %}"/></div>
                <div><img src="{% static 'main/images/quests/rubl.png' %}"/></div>
            </div>
            <div class="choice-time">
{#                {% for time in times %}#}
{#                    <div class="row">#}
{#                        <div data-time="{{ time.id }}">{{ time.time }}</div>#}
{#                        <div>800</div>#}
{#                    </div>#}
{#                {% endfor %}#}
             </div>
        </div>
    </div>
{% endblock %}