{% extends "main/base.html" %}
{% load staticfiles %}
{% block content %}
    <h1>Все квесты Томска</h1>

{#	{% include "blocks/order/select-quests.html" %}#}
{#    {% include "blocks/order/datepicker.html" %}#}
<div class="calendar-wrapper">
	<div class="calendar">
		<div class="prev nav inline">&lt;</div>
		<div class="date inline"></div>
		<input type="hidden" id="datepicker">
		<div class="next nav inline">&gt;</div>
	</div>
</div>

{#max 9#}
<div class="quests-schedule">
	<div class="quest-schedule" data-quest-id="{{ questsIds.quest1 }}">
		<div class="quest">
			<a  href="{% url 'main:quest_occasional-patient' %}"class="button">Случайный пациент</a>
		</div>
		<div class="schedule"></div>
	</div>

	<div class="quest-schedule" data-quest-id="{{ questsIds.quest2 }}">
		<div class="quest">
			<a href="{% url 'main:quest_time-z' %}" class="button">Время «Z»</a>
		</div>
		<div class="schedule"></div>
	</div>

	<div class="quest-schedule" data-quest-id="{{ questsIds.quest3 }}">
		<div class="quest">
			<a href="{% url 'main:quest_enemy' %}" class="button">Враг народа</a>
		</div>
		<div class="schedule"></div>
	</div>
</div>

	{% include "blocks/order/confirm.html" %}

	<div class="fields">
		<form id="quest-order-form" method="POST">
			{% csrf_token %}
			{{  form.quest }}
			{{  form.date }}
			{{  form.time }}
			{{  form.cost }}
			<div class="row">
				<div class="input">
					<img src="{% static 'main/images/input/input_name.png' %}">
					{{  form.name }}
				</div>
				<div class="input">
					<img src="{% static 'main/images/input/input_phone.png' %}">
					{{  form.phone }}
				</div>
			</div>
			<div class="row">
				<div class="input">
					<img src="{% static 'main/images/input/mail_badge.png' %}">
					{{  form.email }}
				</div>
			</div>
			<div class="row">
				<a href="#" id="book" class="button">ЗАБРОНИРОВАТЬ</a>
			</div>
		</form>
	</div>

{% endblock %}

{% block scripts %}
	<script>
	$(document).ready(function(){
		Order.init(
			{{ orderJson|safe }},
			{{ schedule|safe }},
			false,
			"{% static 'main/images/calendar_ico.png' %}"
		);
	});
	</script>
{% endblock %}