@font-face {
    font-family: roboto-light; /* Имя шрифта */
    src: url('../fonts/Roboto-Light.ttf'); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: roboto-bold; /* Имя шрифта */
    src: url('../fonts/Roboto-Bold.ttf'); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: roboto-regular; /* Имя шрифта */
    src: url('../fonts/Roboto-Regular.ttf'); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: roboto-medium; /* Имя шрифта */
    src: url('../fonts/Roboto-Medium.ttf'); /* Путь к файлу со шрифтом */
}

.hidden {
    display: none;
}

html, body {
    padding: 0px;
    margin: 0px;
    font-family: 'roboto-regular';
	background-color: #ffffff;
}

.menu {
	height: 35px;
	background-color: #c9705d;
	color: white;
	margin-bottom: 40px;
	width: 100%;
	text-align: center;
}

/*.menu > div {*/
	/*display: inline-block;*/
/*}*/

.menu .menu-open {
	float: left;
}

.menu .title {
	display: inline-block;
	font-size: 18px;
	font-family: roboto-bold;
	line-height: 35px;
}

.menu .phone {
	float: right;
	padding-right: 16px;
	font-size: 13px;
	line-height: 35px;
}

.menu .phone:before {
	content: url('../images/mobile/phone.png');
	position: relative;
    left: -3px;
    top: 3px;
}

.content {
	padding: 0 20px 0 20px;
}

h1 {
	font-size: 24px;
	font-family: roboto-medium;
}

.logo {
	width: 100%;
	text-align: center;
	margin-top: -20px;
}

.description {
	margin-bottom: 25px;
	font-size: 16px;
}

.button-wrapper {
	text-align: center;
	margin-bottom: 20px;
}

.button {
	padding: 16px 30px 14px 30px;
	background-color: #c9705d;
	color: white;
	font-family: roboto-bold;
	display: inline-block;
	border: none;
	text-decoration: none;
}

.full-version {
	text-align: center;
	margin-bottom: 24px;
	font-size: 13px;
}

.full-version a {
	color: #c9705d;
	text-decoration: none;
	font-size: 13px;
}

.footer {
	background-color: #767676;
	color: white;
}

.footer-title {
	text-align: center;
	font-family: roboto-medium;
	font-size: 16px;
	padding-bottom: 25px;
	padding-top: 20px;
}

.footer-list {
	text-align: center;
}

.footer-list a {
	width: 33%;
	color: white;
	display: inline-block;
	margin-bottom: 25px;
}

.footer-info {
	overflow: auto;
	height: 30px;
	margin: 0 auto;
	width: 290px;
	padding-bottom: 25px;
}

.footer-info .info {
	float: left;
	line-height: 30px;
}

.footer .social {
    width: 130px;
    float: right;
}

.footer .social a > div {
    float: left;
    width: 30px;
    height: 30px;
}

.footer .social .vk {
    background-image: url('../images/socials/vk_white.png');
}

.footer .social .insta {
    background-image: url('../images/socials/insta_white.png');
}

.footer .social .fb {
    background-image: url('../images/socials/fb_white.png');
    margin: 0 20px;
}

/** Contacts*/

.contact-main {
	line-height: 30px;
}

.contact-line {
	overflow: auto;
	height: 30px;
	margin-bottom: 25px;
	font-size: 18px;
}

.contact-line > div:first-child {
	float: left;
	width: 26px;
	margin-right: 20px;
}

.contact-social-title {
	font-family: roboto-regular;
	font-size: 18px;
}

.map,
.contact-social {
	margin-bottom: 20px;
}

.contact-social a {
	margin-right: 20px;
}

.rules .number {
	vertical-align: baseline;
	color: #c9705d;
	font-size: 36px;
	font-family: roboto-regular;
	padding-right: 10px;
}

.rules {
	border-collapse: collapse;
}

.rules tr {
	border-top: 1px solid #dadada;
}

.rules tr:first-child {
	border: none;
}

.rules td {
	padding-top: 20px;
	padding-bottom: 20px;
}

.rules tr:first-child td {
	padding-top: 0;
}


/* cards */

.cards-content {
	font-size: 16px;
	font-family: roboto-light;
	color: #505050;
}

.cards-description {
	margin-bottom: 30px;
}

.cards-img {
	width: 100%;
}

.cards-img img {
	max-height: 100%;
	max-width: 100%;
	margin-bottom: 30px;
}

.red-title {
	text-align: center;
	font-size: 24px;
	font-family: roboto-medium;
	color: #ca624b;
	margin-bottom: 25px;
}

div.order-button {
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
}

div.form .row {
    margin-bottom: 30px;
    text-align: center;
}

div.form .row div {
    width: 50px;
    height: 35px;
    display: inline-block;
    line-height: 35px;
    vertical-align: middle;
}

div.form .row.name div{
    background-image: url('../images/input/input_name.png');
}

div.form .row.phone div{
    background-image: url('../images/input/input_phone.png');
}

div.form input {
    height: 31px;
    border-radius: 0 9px 9px 0;
    outline: 0;
    border: 1px solid #b5b5b5;
    display: inline-block;
    line-height: 31px;
    padding-left: 5px;
}

#card-form input {
	width: 70%;
	max-width: 370px;
}

.cards-order-notification {
	width: 420px;
	margin: 0 auto;
	font-family: 'roboto-regular';
	font-size: 16px;
	margin-bottom: 40px;
}

/** quests content */

.quests-content {
	font-size: 16px;
	font-family: roboto-light;
	color: #505050;
}

.quests-content .quest {
	border-top: 1px solid #dadada;
}

.quests-content .quest-name {
	color: #ca624b;
	margin: 25px 0 25px 0;
	font-family: roboto-medium;
	font-size: 18px;
}

.quests-content .quest-img {
	margin-bottom: 20px;
}

.quests-content .quest-img img {
	max-height: 100%;
	max-width: 100%;
}

.quests-content .quest-description {
	margin-bottom: 30px;
}

.quests-content .quest-rules {
	color: #ca624b;
}

.quests-content .quest-rules:first-child {
	margin-bottom: 10px;
}

.quests-content .quest-rules span {
	color: #505050;
}

.quest-button {
	text-align: center;
	margin-bottom: 15px;
}

.quest-button {
	margin-top: 23px;
}